h1 {
 color:brown;
 margin-left: 30px;
}

.header *{
  border:solid;
}
p, h2 {
 text-align: center;
}

body {
background-color:#808080;
}
/** {
background-color: bisque;
 border:solid
}*/

.header{
 background-color:orange; 
 display:flex;
 justify-content:space-between;
}

.grid{
 display:flex;
 flex-wrap:wrap;
 justify-content:space-evenly;
}

.footer{
    display:flex;
    justify-content:flex-end;
}

a:link{
    color:green;
}

a:visited{
    color:white;
}

.menu{
    margin-right:30px;
}

.menu a{
    margin-left: 20px;
}


.item{
    position:relative;
}

.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}

.item:hover p{
    opacity:1;
}

.item:hover img{
    opacity: 0.33;
}
    


